
body {
  min-height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid: 'header' auto
        /*'nav' auto*/
        'main' 1fr
        'footer' auto
      / 1fr;
}

#content-nav {
    display: grid;
    grid-gap: 1em;
    grid: 'nav content' 1fr
    / 20em 1fr;
    /*background-color: coral;*/
    /*padding: 5em;*/
}

#container {
    background-color: azure;
    width: 75%;
    height: auto;
    margin: auto;
}


@media (min-width: 40em) {
  body {
    /*grid: 'header header' auto*/
    /*      'nav main' 1fr*/
    /*      'nav footer' auto*/
    /*    / 12em 1fr;*/
      grid: 'header header' auto
      'main' 1fr
      'footer' auto
    / 12em 1fr;

  }
}
#content {
    grid-area: content;
    padding: 2em;
}
header {
    grid-area: header;
    position: relative;
}
nav {
    grid-area: nav;
    padding: 1em;
}
main { grid-area: main; }
footer { grid-area: footer; }

/* show… */
body {
  background-color: darkcyan;
}

header,
/*nav,*/
main,
footer {
  background-color: aquamarine;
  padding: 1em;
}

nav,
#content {
    background-color: aliceblue;
}

.header-right {
    float: right;
}
.header-left {
    float: left;
}

.item-list {
    background-color: #F0F0F0;
    padding: 20px;
}

.item-list:hover {
    background-color: #e1e17f;
    padding: 20px;
}

.button-links > a:link, .button-links > a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button-links > a:hover, .button-links > a:active {
  background-color: red;
}