{% extends "base.html" %}
{% block container %}
    <div id="content-nav">
        {% include "nav.html" %}
        <div id="content">
            {% if session.username %}
                <div class="button-links">
                    <a href="{{ url_for(
                    "catalog_item_app.create_catalog_item_web_view"
                ) }}">
                    Add item
                </a>
                </div>
            {% endif %}
            <h2>{{ heading }}</h2>
            {% for item in latest_catalog_items %}
                <a href="{{ url_for(
                                "catalog_item_app.get_catalog_item_web_view",
                                category_name=item.category.name,
                                catalog_item_name=item.name
                            ) }}">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 item-list">
                            {{ item.name }} ({{ item.category.name }})
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}