<nav>
    <h2>Categories</h2>

    {% for category in categories %}
        <a href="{{ url_for(
                        'category_app.get_category_items_web_view',
                        category_name = category.name
                            ) }}">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 item-list">
                    {{ category.name }}
                </div>
                <div class="col-md-1"></div>
            </div>
        </a>
    {% endfor %}
</nav>