{% extends "base.html" %}
{% block container %}
    <h1>Delete Catalog Item</h1>
    <div>
        <p>
            Are you sure you want to delete catalog item {{ catalog_item.name }} from
            category {{ category.name }}?
        </p>
    </div>
    <div>
        <div class="button-links">
            <a href="{{ url_for(
                "catalog_item_app.delete_catalog_item_web_view",
                category_name=category.name,
                catalog_item_name=catalog_item.name) }}"
        >
            Delete
            </a>
        </div>
    </div>
{% endblock %}