{% extends "base.html" %}
{% block container %}
    <h1>Edit {{ catalog_item.name }}</h1>
    <div>
        <form action="{{ url_for(
                "catalog_item_app.edit_catalog_item_web_view",
                category_name=category_name,
                catalog_item_name=catalog_item.name)}}"
              method="post"
        >
            <div class="form-group left-align-text">
                <label for="name">Name:</label>
                <input
                        type="text"
                        class="form-control"
                        name="name"
                        value="{{ catalog_item.name }}"
                >
                <label for="name">Description:</label>
                <input
                        type="text"
                        class="form-control"
                        name="description"
                        value="{{ catalog_item.description }}"
                >
                <label for="category">Category:</label>
                <select name="category">
                    {% for category in categories %}
                    <option
                            value="{{ category.name }}"
                            {% if category.name == category_name %}
                            selected
                            {% endif %}
                    >
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>

                <div>
                    <button
                            type="submit"
                            class="btn btn-default"
                            id="submit"
                    >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
