{% extends "base.html" %}
{% block container %}
    <h1>{{ catalog_item.name }}</h1>
    <div>
        <p>
            {{ catalog_item.description }}
        </p>
        {% if session.username %}
            <a href="{{ url_for(
                "catalog_item_app.edit_catalog_item_web_view",
                category_name=category.name,
                catalog_item_name=catalog_item.name
                ) }}">
                Edit
            </a>
            |
            <a href="{{ url_for(
                "catalog_item_app.delete_catalog_item_web_view",
                category_name=category.name,
                catalog_item_name=catalog_item.name
                ) }}">
                Delete
            </a>
        {% endif %}
    </div>
{% endblock %}